@use 'variables' as *;

header{
    background-color: white;
    height: $nav-height;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    &.scroll{
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        margin: 0 auto;
        z-index: 1000;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: white;
    
        ul{
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            &:first-child{
                flex-wrap: wrap;
                row-gap: 1rem;
                li{
                    margin-right: 1rem;
                    text-align: center;
                }
            }
    
            &:first-child 
    
            li{
                display: flex;
                align-items: center;
                a{
                    text-decoration: none;
                    transition: opacity 0.3s ease;
        
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    #menuBurger, #menuClose{
        height: 50px;
        width: 50px;
        display: none;
    }
}

@media screen and (max-width: $desktop) {
    nav{
        ul{
            &:first-child li{
                margin-right: 1rem;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    header{
        position: relative;
        #menuBurger.show, #menuClose.show{
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 2rem;
            margin: auto;
            cursor: pointer;
            transition: opacity 0.3s ease;
            &:hover{
                opacity: 0.7;
            }
        }

        nav{
            opacity: 1;
            height: auto;
            position: absolute;
            display: block;
            top: -100%;
            left: 0;
            right: 0;
            background-color: white;
            padding: 2rem;
            margin-top: $nav-height;
            opacity: 0;
            transition: top 0s ease, opacity 0s ease;
            ul{
                align-items: center;
                justify-content: center;
                height: 100%;
                &:first-child {
                    flex-direction: column;
                    li{
                        margin-right: 0;
                        margin-bottom: .5rem;
                    }
                }
                &:last-child{
                    justify-content: center;
                    margin-top: .5rem;
                }
            }
        }
        nav.display{
            top: 0;
            opacity: 1;
            transition: top 0.3s ease, opacity 0.3s ease;
        }
    }


}