@use "variables" as *;

@font-face {
    font-family: "manrope-regular";
    src: url("./../font/Manrope-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "manrope-bold";
    src: url("./../font/Manrope-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "manrope-extraBold";
    src: url("./../font/Manrope-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "manrope-extralight";
    src: url("./../font/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "manrope-light";
    src: url("./../font/Manrope-Light.ttf") format("truetype");
}

@font-face {
    font-family: "manrope-medium";
    src: url("./../font/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "manrope-semibold";
    src: url("./../font/Manrope-SemiBold.ttf") format("truetype");
}

h1{
    font-family: $bold !important;
    font-size: $font-size-h1;
}

h2{
    font-family: $bold;
    font-size: $font-size-h2;
}

h3{
    font-family: $bold;
    font-size: $font-size-h3;
}

p, a, button{
    font-family: $regular;
    font-size: $font-size-default;
}