$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;   
$font-size-h3: 1.5rem !default;   
$font-size-button: 1.25rem !default;
$font-size-default: 1rem !default;

$resp-font-size-h1: 2rem !default;
$resp-font-size-h2: 1.2rem !default;   
$resp-font-size-h3: 1.1rem !default;   
$resp-font-size-button: 1rem !default;
$resp-font-size-default: .9rem !default;

$regular: "manrope-regular";
$bold: "manrope-bold";
$extraBold: "manrope-extraBold";
$extralight: "manrope-extralight";
$light: "manrope-light";
$medium: "manrope-medium";
$semibold: "manrope-semibold";

$primaryColor: #F4A417;
$secondaryColor: #E05B23;
$darkColor: #212121;
$whiteColor: white;
$greyColor: #A8A8A8;

// MEDIA SCREEN
$desktop: 1200px !default;
$tablet: 992px !default;
$smalltablet: 768px !default;
$mobile: 578px !default;

// NAV
$nav-height: 75px !default;