$font-size-h1: 4rem !default;
$font-size-h2: 2.25rem !default;   
$font-size-h3: 2rem !default;   
$font-size-default: 1rem !default;

$regular: "manrope-regular";
$bold: "manrope-bold";
$extraBold: "manrope-extraBold";
$extralight: "manrope-extralight";
$light: "manrope-light";
$medium: "manrope-medium";
$semibold: "manrope-semibold";

$primaryColor: #F4A417;
$secondaryColor: #E05B23;
$darkColor: #212121;