// GLOBAL SCSS FILE
@use 'variables' as *;
@use 'typo';
@use 'nav';

// SECTIONS
@use 'sections/whoami';
@use 'sections/opquastcertified';
@use 'sections/highwhy';

// COMPONENTS
@use 'components/socials';
@use 'components/buttons';
@use 'components/title';

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: $primaryColor;
}

main{
    margin: 5rem 15rem;
    padding: 5rem;
    border-radius: 30px;
    background-color: white;
}

.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

section:not(:first-child){
    margin: 3rem 0;
    .content{
        margin: 5rem 0;
    }
}

@media screen and (max-width: $desktop) {
    main{
        margin: 5rem;
        padding: 3rem;
    }
}

@media screen and (max-width: $tablet) {
    main{
        margin: 1rem;
        padding: 1rem;
    }
}