// GLOBAL SCSS FILE
@use 'variables' as *;
@use 'typo';
@use 'nav';

// SECTIONS
@use 'sections/whoami';
@use 'sections/opquastcertified';
@use 'sections/highwhy';
@use 'sections/realisation';
@use 'sections/toolbox';
@use 'sections/contactme';

// COMPONENTS
@use 'components/socials';
@use 'components/buttons';
@use 'components/title';
@use 'components/sections';
@use 'components/carousel';

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: $primaryColor;
}

main{
    margin: 5rem 15rem;
    padding: $main-padding-xl;
    border-radius: 30px;
    background-color: white;
}

.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: $desktop) {
    main{
        margin: 5rem;
        padding: $main-padding-lg;
    }
}

@media screen and (max-width: $tablet) {
    main{
        margin: 1rem;
        padding: $main-padding-md;
    }
}