// GLOBAL SCSS FILE
@use 'variables' as *;
@use 'typo';
@use 'nav';

// SECTIONS
@use 'sections/whoami';

// COMPONENTS
@use 'components/socials';
@use 'components/buttons';

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: $primaryColor;
}

main{
    margin: 5rem 15rem;
    padding: 5rem;
    border-radius: 30px;
    background-color: white;
}

@media screen and (max-width: 992px) {
    main{
        margin: 2rem;
        padding: 2rem;
    }
}