@use '../variables' as *;

#contactme{
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
        text-decoration: none;
    }
}


@media screen and (max-width: $mobile) {
    #contactme{
        flex-direction: column;
        text-align: center;
    }
}