@use "../variables" as *;

#whoami{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    > img{
        max-width: 300px;
        width: 100%;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
    }

    > :last-child{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        flex: 1;
        h1{
            margin: 0;
        }
        p{
            text-align: right;
            font-style: italic;
        }
        button{
            align-self: flex-end;
        }
    }
}
  
@media screen and (max-width: $smalltablet) {
    #whoami{
        flex-direction: column;
    }
}

@media screen and (max-width: $mobile) {
    #whoami ul.socials {
        li {
            &:not(:last-child) {
                margin-right: .3rem;
            }
            img{
                height: 35px;
                width: 35px;
            }
        }
    }
}