<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fabien Lamotte Développeur web et mobile</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#whoami" title="Se rendre à la section 'Qui je suis ?'">Qui je suis ?</a></li>
                <li><a href="#highwhy" title="Se rendre à la section 'Pourquoi je fais ça ?'">Pourquoi je fais ça ?</a></li>
                <li><a href="#opquastcertified" title="Se rendre à la section 'Certifié Opquast'">Certifié Opquast</a></li>
                <li><a href="#realisations" title="Se rendre à la section 'Réalisations'">Réalisations</a></li>
                <li><a href="#toolbox" title="Se rendre à la section 'Boites à outils'">Boites à outils</a></li>
                <li><a href="#portfolio" title="Se rendre à la section 'Mon portfolio'">Mon portfolio</a></li>
                <li><a href="#contactme" title="Se rendre à la section 'Contactez moi'">Contactez moi</a></li>
            </ul>
            <ul class="socials">
                <li>
                    <a href="https://www.linkedin.com/in/fabien-lamotte-305043200/" target="_blank" title="Accéder à mon profil Linkedin">
                        <img src="<%= require('./assets/img/svg/linkedin.svg') %>" alt="Logo Linkedin" title="Accéder à mon profil Linkedin" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/fabien-lamotte/" target="_blank" title="Accéder à mon profil Malt">
                        <img src="<%= require('./assets/img/svg/malt.svg') %>" alt="Logo Malt" title="Accéder à mon profil Malt" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/fabienlamotte487" target="_blank" title="Accéder à mon profil Github">
                        <img src="<%= require('./assets/img/svg/github.svg') %>" alt="Logo Github" title="Accéder à mon profil Github" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/fabien-lamotte/" target="_blank" title="Accéder à mon profil Instagram">
                        <img src="<%= require('./assets/img/svg/instagram.svg') %>" alt="Logo Instagram" title="Accéder à mon profil Instagram" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/fabien-lamotte/" target="_blank" title="Accéder à mon profil Facebook">
                        <img src="<%= require('./assets/img/svg/fb.svg') %>" alt="Logo Facebook" title="Accéder à mon profil Facebook" />
                    </a>
                </li>
            </ul>
        </nav>
        <img src="<%= require('./assets/img/svg/burger.svg') %>" class="show" alt="Bouton de navigation mobile" title="Déplier les liens de navigation mobile" id="menuBurger" />
        <img src="<%= require('./assets/img/svg/cross.svg') %>" alt="Bouton de navigation mobile" title="Replier les liens de navigation mobile" id="menuClose" />
    </header>
    <main>
        <section id="whoami">
            <img src="<%= require('./assets/img/png/profil.png') %>" title="Ma tête" alt="Ma tête" class="image">
            <div>
                <div>
                    <h1>LAMOTTE Fabien</h1>
                    <h2 class="main-title">Développeur front-end web et mobile</h2>
                </div>
                <p>Je transforme des maquettes en interfaces web solides, accessibles et fidèles à la vision des graphistes, tout en respectant les bonnes pratiques du web.</p>
                <ul class="socials">
                    <li>
                        <a href="https://www.linkedin.com/in/fabien-lamotte-305043200/" target="_blank" title="Accéder à mon profil Linkedin">
                            <img src="<%= require('./assets/img/svg/linkedin.svg') %>" alt="Logo Linkedin" title="Accéder à mon profil Linkedin" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/fabien-lamotte/" target="_blank" title="Accéder à mon profil Malt">
                            <img src="<%= require('./assets/img/svg/malt.svg') %>" alt="Logo Malt" title="Accéder à mon profil Malt" />
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/fabienlamotte487" target="_blank" title="Accéder à mon profil Github">
                            <img src="<%= require('./assets/img/svg/github.svg') %>" alt="Logo Github" title="Accéder à mon profil Github" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/fabien-lamotte/" target="_blank" title="Accéder à mon profil Instagram">
                            <img src="<%= require('./assets/img/svg/instagram.svg') %>" alt="Logo Instagram" title="Accéder à mon profil Instagram" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/fabien-lamotte/" target="_blank" title="Accéder à mon profil Facebook">
                            <img src="<%= require('./assets/img/svg/fb.svg') %>" alt="Logo Facebook" title="Accéder à mon profil Facebook" />
                        </a>
                    </li>
                </ul>
                <button type="button">Me contacter</button>
            </div>
        </section>
        <section id="opquastcertified">
            <div class="title-container">
                <div class="title">
                    <div class="title-img">
                        <img src="<%= require('./assets/img/svg/medal.svg') %>" alt="" />
                    </div>
                    <div class="title-text">
                        <h2>Certifié Opquast</h2>
                    </div>
                </div>
            </div>
            <div class="centerContent content">
                <a class="card-link" href="https://directory.opquast.com/fr/certificat/CSWIU6/" target="_blank" title="Accéder à ma certification Opquast">
                    <img src="<%= require('./assets/img/png/contract.png') %>" alt="" title="" />
                    <img src="<%= require('./assets/img/svg/computer.svg') %>" class="back-picture computer" alt="" title="" />
                    <img src="<%= require('./assets/img/svg/mobile.svg') %>" class="back-picture mobile" alt="" title="" />
                    <img src="<%= require('./assets/img/png/badge_avance.png') %>" class="front-picture" alt="" title="" />
                    <span>Accéder à la certification</span>
                </a>
            </div>
        </section>
        <section id="highwhy">
            <div class="title-container">
                <div class="title">
                    <div class="title-img">
                        <img src="<%= require('./assets/img/svg/ask.svg') %>" alt="" />
                    </div>
                    <div class="title-text">
                        <h2>Pourquoi je fais ça ?</h2>
                    </div>
                </div>
            </div>
            <div class="carousel inline">
                <div class="carousel-nav">
                    <button type="button" title="Faire défiler à la carte précédente" disabled>
                        <img src="<%= require('./assets/img/svg/arrow-left.svg') %>" alt="Faire défiler à la carte précédente" title="Faire défiler à la carte précédente" />
                    </button>
                    <button type="button" title="Faire défiler à la carte suivante">
                        <img src="<%= require('./assets/img/svg/arrow-right.svg') %>" alt="Faire défiler à la carte suivante" title="Faire défiler à la carte suivante" />
                    </button>
                </div>
                <ul class="carousel-list">
                    <li>
                        <div class="carousel-item">
                            <img src="<%= require('./assets/img/svg/muscle.svg') %>" alt="" title="" />
                            <p>“Mon goût pour le défi, la technologie, et la création m’ont naturellement dirigé vers le web”</p>
                        </div>
                    </li>
                    <li>
                        <div class="carousel-item">
                            <img src="<%= require('./assets/img/svg/handicap.svg') %>" alt="" title="" />
                            <p>“Les bonnes pratiques m’ont questionné sur l’accessibilité. J’ai beaucoups travaillé pour n’exclure personne dans mes projets”</p>
                        </div>
                    </li>
                    <li>
                        <div class="carousel-item">
                            <img src="<%= require('./assets/img/svg/conversation.svg') %>" alt="" title="" />
                            <p>“Mon expérience passée dans la vente m’a donné goût aux échanges avec les clients, c’est ce que je souhaite retrouver en proposant mes solutions en freelance”</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="realisations">
            <div id="front-real" class="show">
                <div>
                    <h2>Mes derniers projets pro</h2>
                    <p>Vous trouverez ici les derniers projets front que j’ai mené de A à Z dans le cadre de mon dernier emploi en tant que salarié.</p>
                </div>
                <div class="display-card">
                    <ul>
                    </ul>
                </div>
            </div>
            <div id="back-real">
                <div class="content"></div>
                <button type="button" id="backFrontReal">
                    <img src="<%= require('./assets/img/svg/arrow-right-white.svg') %>" title="Retourner à la liste des cartes" alt="Retourner à la liste des cartes" />
                </button>
            </div>
        </section>
        <section id="toolbox">
            <div class="title-container">
                <div class="title">
                    <div class="title-img">
                        <img src="<%= require('./assets/img/svg/tools.svg') %>" alt="" />
                    </div>
                    <div class="title-text">
                        <h2>Mes outils</h2>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    <div>
                        <img src="" alt="" title="" />
                        <h3>Symfony</h3>
                    </div>
                    <p>J’ai de l’expérience en intégration via le templating Twig avec Symfony. J’ai pu pleinement faire mes preuves avec Ewill et Inter Invest. J’ai également pu toucher au back en travaillant sur les formulaires et en touchant à la logique métier</p>
                </li>
                <li>
                    <div>
                        <img src="" alt="" title="" />
                        <h3>React-Native</h3>
                    </div>
                    <p>En full autodidacte, j’ai pu concevoir les applications d’Ewill pendant mon contrat chez eux avec React-Native. </p>
                </li>
                <li>
                    <div>
                        <img src="" alt="" title="" />
                        <h3>Bootstrap</h3>
                    </div>
                    <p>C’est le principal framework avec lequel j’ai travaillé, comme la plupart de mes clients.</p>
                </li>
                <li>
                    <div>
                        <img src="" alt="" title="" />
                        <img src="" alt="" title="" />
                        <img src="" alt="" title="" />
                        <h3>HTML / CSS / JAVASCRIPT</h3>
                    </div>
                    <p>Le trio gagnant d’un projet from scratch, les premiers outils que je n’ai jamais laché dans mes projets persos !</p>
                </li>
            </ul>
        </section>
        <section id="portfolio">
            <div class="title-container">
                <div class="title">
                    <div class="title-img">
                        <img src="<%= require('./assets/img/svg/folder.svg') %>" alt="" />
                    </div>
                    <div class="title-text">
                        <h2>Mon portfolio</h2>
                    </div>
                </div>
            </div>
            <div class="carousel">
                <!-- Carousel généré en js -->
            </div>
        </section>
        <section id="contactme">
            <h2>Une idée de projet ? Une équipe à compléter ?</h2>
            <a href="" title="" target="">Discutons(en</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Mon Nom. Tous droits réservés.</p>
    </footer>
    <script type="text/javascript" src="./../dist/main.js"></script>
</body>
</html>